/* Your Name: [Akash Patel], Student Number: [9035473] */

body {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-color: skyblue;
    text-align: center;
    border: 1px solid #000;
    border-radius: 9px;
    padding: 0 auto;
    margin: 20px 0;
}

footer {
    clear: both;
    background-color: skyblue;
    text-align: center;
    padding: auto;
    border: 1px solid #000;
    border-radius: 9px;
}

h1,
h2 {
    color: black;
    font-variant: small-caps;
}

footer p {
    font-size: 12px;
    color: black;
}

._main {
    float: left;
    width: 66%;
    padding: 10px;
    margin: auto;
}

aside {
    height: 1345px;
    float: right;
    width: 30%;
    padding: 10px;
    background-color: skyblue;
    border-radius: 9px;
}


img {
    border: 2px solid black;
    border-radius: 9px;
}

.img1, .img2{
    width: 700px;
}

figcaption {
    font-style: bold;
    font-variant: small-caps;
    text-align: center;
}

q {
    font-family: cursive;
    font-style: italic;
    font-size: 1.2em;
    border-left: 3px solid black;
}

ul li {
    list-style-type: none;
    line-height: 1.5;
}

ul>li>a {
    text-decoration: none;
    color: black;
}

aside a:hover {
    color: red;
}